# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Data
parquets/
*.parquet
*.csv
arquivo mais recente.txt

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/