# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Data
parquets_local/*.parquet
*.csv

# Jupyter
.ipynb_checkpoints/

# Logs
arquivo_mais_recente.txt
*.log

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/